<style type="text/css">

  body {
    	font-family: sans-serif;
    	color: rgb(56,56,56);
    	background-color: rgb(230,230,230);
    	margin: 0;
    	padding: 12px 30px;
  }
	#Container
		{
    	background-color: rgb(246,246,246);
    	margin-top: 40px;
    	margin-left: auto;
    	margin-right: auto;
    	padding: 0;
    	width: 800px;
    	border-width: 1px;
    	border-color: rgb(164,164,164);
    	border-style: solid;
    	max-width: 900px;
		}
	#Container #Header
		{
			margin-left: auto;
			margin-right: auto
			margin: 0;
			padding: .5em;
			color: #333;
			background-color: rgb(245,245,245);
			border-bottom:1px solid #aaa;
			height:60px;
		}
	#Container #Header .Left
		{
			float:left;
		}
	#Container #Header .Right
		{
			float:right;
		}
	#Container #Header .Middle
		{
			margin-left: 200px;
			height: 100%;
			text-align: center;
			vertical-align:middle;
			border: 1px solid red;
		}
	#Container #Header img
		{
			width:60px;
			height:60px;
		}
	#Container #Header div
		{
			float:left;
		}
		#Container #Nav, #Container #Login
		{
			margin-left: auto;
			margin-right: auto;
			margin-top:0px;
			margin-bottom:0px;
			padding-bottom:5px;
			border-bottom:1px solid #aaa;
			padding: .5em;
			background-color: rgb(245,245,245);
			height: 30px;
		}
		#Container #Nav div, #Container #Login form div
		{
			float:left;
			margin:5px 5px 5px 5px;
		}

	#Container .Heading
		{
			background-color: rgb(222,222,222);
			font-family: courier;
			text-align: center;
			font-weight: bold;
			border-bottom: 1px solid rgb(123,123,123);
			width:100%;
		}		
	#Container #Leftnav
		{
			clear:left;
			float: left;
			width: 150px;
			height: 100%;
			margin-top: 0px;
			margin-bottom: 0px;	
			border-right:1px solid rgb(222,222,222);		
		}
	#Container #Rightnav
		{
			float: right;
			width: 150px;
			height: 100%;
			margin-top: 0px;
			margin-bottom: 0px;
			border-left:1px solid rgb(222,222,222);
		}
	#Container #Rightnav ul, #Container #Leftnav ul 
		{
    	list-style-type: none;
    	margin: 0;
    	padding: 0;
		}
	#Container #Rightnav ul li,  #Container #Leftnav ul li
		{
    	list-style-type: none;
    	font-size:80%;
    	display: block;
    	padding: 3px 5px 3px 5px;
    	margin: 0;
    	vertical-align: middle;
    	border-bottom: 1px solid rgb(223,223,223);
		}
	#Container #Content
		{
			float:left;
			margin: 0px;
			padding: 10px;
			width:auto;
			height: 150px;

		}
	#Container #Footer
		{
			clear: both;
			width:100%;
			margin: 0px;
			color: #333;
			background-color: rgb(222,222,222);
			text-align:center;
		}
	a:link 
		{
			color: #0000ff; 
			font-size: 1em;
			text-decoration:none;
		}
	a:visited 
		{
			color: #894f7b; 
			font-weight: bold; 
			text-decoration:none;
		}
	a:hover 
		{
			text-decoration: underline	; 
			background-color: #3399;
		}
	a:active 
		{
			color: red; 
		}
	</style>